// Colors
$lightGray : #F7F5F2;
$gray : #C5BFB6;
$success: #7EB65C;
$successLight: #E4F5DA;
$successBorder: #D8EACE;
$warning:#FF7455;
$warningLight: #FFF0EC;
$warningBorder: #FFD9CE;
$font-color : #212121;
// Font Sizes 
$font-sm: 1rem; //16px
$font-med: 1.125rem;  //18px
$font-lg:1.25rem; //20px
$font-xl:3.25rem; //52px